@import '../App.scss';

.brand{
    position: relative;
    width: $width;
    padding: 2rem 0;
    font-family: $font-family;

    .top{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $width;
        padding: 0 2rem;

        h1{
            font-size: $extra-large-text;
            height: calc(($box-height) * 0.5);
            border: none;
            color: $main-color;

            span{
                color: $accent-color;
            }

            hr{
                margin: 2rem 0 0 0;
                width: calc(($box-width) * 1);
                background: $main-color;
                height: calc(($small-box-height) * 0.1);
                border: none;
            }
        }

        p{
            width: calc(($width) * 0.4);
            font-size: $text-size;
            color: $text-color;
        }

        .circle{
            
        }
    }
}