@import '../App.scss';

.navbar{
    width: $width;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
    position: relative;
    font-family: $font-family;
    top: 0;
    z-index: 999;

    img{
        width: calc(($width) * 0.1);
    }

    .link{
        padding: 0 1.3rem;
        text-decoration: none;
        color: $primary-color;

        &:hover{
            color: $main-color;
        }
    }

    .social{
        
        a{
            padding: 0 0.7rem;
            text-decoration: none;
            color: $primary-color;

            &:hover{
                color: $main-color;
            }
        }
    }
}